## ----------------------------------------------------------------------
## https://github.com/bartmichu/ubuntu-scripts
##
## Installation:
##   mv check-graceful-shutdown.service /etc/systemd/system/check-graceful-shutdown.service
##   mv set-graceful-shutdown.service /etc/systemd/system/set-graceful-shutdown.service
##   systemctl daemon-reload
##   systemctl enable check-graceful-shutdown
##   systemctl enable set-graceful-shutdown
##
## Usage:
##   systemctl is-active check-graceful-shutdown && echo GOOD || echo BAD
##
## ----------------------------------------------------------------------

[Unit]
Description=Check if previous system shutdown was graceful
ConditionPathExists=/etc/graceful_shutdown_flag
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/rm /etc/graceful_shutdown_flag

[Install]
WantedBy=multi-user.target
