# -----------------------------------------------------------------------
# https://github.com/bartmichu/ubuntu-scripts
#
# Graceful shutdown check.
#
# This script comprises three components:
# - graceful-shutdown-set.service: Generates a flag file during a proper
#   system shutdown.
# - graceful-shutdown-sentinel.service: Activates during system startup
#   if the flag file exists, clears it, and remains active.
# - graceful-shutdown-check.sh: The script file determines the
#   gracefulness of the last shutdown by analyzing services and the flag
#   file, providing an output message. It returns 0 for a graceful
#   shutdown and 1 for an ungraceful one.
#
# Installation:
#   $ sudo mv graceful-shutdown-sentinel.service /etc/systemd/system/graceful-shutdown-sentinel.service
#   $ sudo mv graceful-shutdown-set.service /etc/systemd/system/graceful-shutdown-set.service
#   $ sudo systemctl daemon-reload
#   $ sudo systemctl enable graceful-shutdown-sentinel
#   $ sudo systemctl enable graceful-shutdown-set
#   $ sudo chmod 0700 graceful-shutdown-check.sh
#
# Usage:
#   $ sudo ./graceful-shutdown-check.sh
#
# Or, alternatively, service state can be used directly:
#   $ sudo systemctl --quiet is-active graceful-shutdown-sentinel && echo graceful || echo UNGRACEFUL
#
# -----------------------------------------------------------------------

[Unit]
Description=Remove flag file if needed and stay active
ConditionPathExists=/etc/graceful_shutdown_flag
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/rm /etc/graceful_shutdown_flag

[Install]
WantedBy=multi-user.target
