## ----------------------------------------------------------------------
## https://github.com/bartmichu/ubuntu-scripts
##
## Installation:
##   mv check-graceful-shutdown.service /etc/systemd/system/check-graceful-shutdown.service
##   mv set-graceful-shutdown.service /etc/systemd/system/set-graceful-shutdown.service
##   systemctl daemon-reload
##   systemctl enable check-graceful-shutdown
##   systemctl enable set-graceful-shutdown
##
## Usage:
##   systemctl is-active check-graceful-shutdown && echo GOOD || echo BAD
##
## ----------------------------------------------------------------------

[Unit]
Description=Create flag file on graceful shutdown
DefaultDependencies=no
RefuseManualStart=true
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/usr/bin/touch /etc/graceful_shutdown_flag

[Install]
WantedBy=shutdown.target
